<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.jqstudentgrowthtrackingsystem.dao.IStudentDao">
    <select id="selectId" resultType="Student">
        select studentid from student
        where student_name = #{studentName}
        and id_number = #{idNumber}
    </select>
    <select id="selectThisStudent" resultType="java.util.HashMap">
        select st.studentid,st.student_name,st.sex,st.nation,st.birthday,
        st.native_place,st.marital_status,st.phone,
        from student st
        left join score sc on sc.studentid = st.studentid
        left join course co on co.courseid = sc.courseid
    </select>
    <select id="selectAllStudent" resultType="java.util.HashMap">
        select st.studentid,st.student_name,st.college,st.native_place,
        sc.score,sh.appraisal_score,de.appraisal_score
        from student st
        left join score sc on sc.studentid = st.studentid
        left join course co on co.courseid = sc.courseid
        left join school_evaluation sh on sh.studentid = st.studentid
        left join dept_evaluation de on de.studentid = st.studentid
        order by st.studentid desc
    </select>
</mapper>