<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.jqstudentgrowthtrackingsystem.dao.IStudentDao">
    <select id="selectId" resultType="com.jxd.jqstudentgrowthtrackingsystem.model.Student">
        select studentid from student
        where student_name = #{studentName}
        and id_number = #{idNumber}
    </select>
    <update id="deleteAnyStudents">
        update student set flag = 1
        where studentid in
        <foreach collection="studentid" separator="," open="(" close=")" item="studentid">
            #{studentid}
        </foreach>
    </update>


    <!--fws-->
    <!--分页模糊查询 总表中的学生信息IPage<Map<String,Object>> getStudentByPageAndDeptno
    (Page<Map<String,Object>> pages,  @Param("studentName")String studentname, @Param("deptno")int deptno);-->
    <select id="getStudentByPageAndDeptno" resultType="java.util.Map">
SELECT a.studentid,student_name,a.sex,a.college,a.native_place,a.school_score,a.html,a.oracle,a.js,a.java_base,a.java_high,a.l1
,a.appraisal_score score0,b.appraisal_score score1,c.appraisal_score score2,d.appraisal_score score3,a.deptno,a.jobid
FROM
(SELECT s.studentid,s.student_name,s.sex,s.college,s.native_place,se.appraisal_score school_score,cs.html,cs.oracle,cs.js,cs.java_base,cs.java_high,cs.l1,de.appraisal_score,s.deptno,s.jobid
FROM student s LEFT JOIN school_evaluation se on s.studentid = se.studentid  LEFT JOIN course_score cs ON s.studentid = cs.studentid  LEFT JOIN dept_evaluation de ON de.studentid = s.studentid   WHERE  de.work_year = 0) a LEFT JOIN
(SELECT s.studentid,de.appraisal_score FROM student s LEFT JOIN dept_evaluation de ON de.studentid = s.studentid   WHERE   de.work_year = 1 ) b ON a.studentid = b.studentid LEFT JOIN
(SELECT s.studentid,de.appraisal_score FROM student s LEFT JOIN dept_evaluation de ON de.studentid = s.studentid   WHERE  de.work_year = 2 ) c ON a.studentid = c.studentid LEFT JOIN
(SELECT s.studentid,de.appraisal_score FROM student s LEFT JOIN dept_evaluation de ON de.studentid = s.studentid   WHERE   de.work_year = 3 ) d ON a.studentid = d.studentid
WHERE student_name LIKE '%' #{studentName} '%'  and a.deptno = #{deptno}

    </select>

    <!--通过学生id获取学生信息：Map<String, Object> getStudentById(int studentid);-->
    <select id="getStudentById" resultType="java.util.Map">
    SELECT s.studentid,s.student_name,s.sex,s.nation,s.birthday,s.native_place,s.marital_status,s.phone,s.id_number,
    date_format(s.hiredate,'%Y-%m-%d') hiredate,s.college,s.major,s.images_directory,s.deptno,s.gradeid,s.flag,s.remarks,s.jobid,j.jobname,d.deptname
    FROM student s LEFT JOIN dept d ON  s.deptno = d.deptno
    LEFT JOIN job j  ON s.jobid = j.jobid
    WHERE s.studentid = #{studentid}

    </select>

</mapper>