<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.jqstudentgrowthtrackingsystem.dao.IUserLoginDao">
    <select id="selectWithLogin" resultType="UserLogin">
        select userid,username,password,role
        from userlogin
        where userid = #{userid} and password = #{password}
    </select>
    <select id="selectThisUser" resultType="UserLogin">
        select userid,username,password,role
        from userlogin
        where userid = #{userid}
    </select>
    <update id="updateThisUserPwd" parameterType="UserLogin">
        update userlogin
        set password = #{password}
        where userid = #{userid}
    </update>
    <update id="resetThisUserPwd" parameterType="UserLogin">
        update userlogin
        set password = 'a123456'
        where userid = #{userid}
    </update>
    <select id="selectAllUser" resultType="java.util.HashMap">
        select userid,username,password,role
        from userlogin
        <where>
            <if test="username != null and username !=''">
                username like concat('%',#{username},'%')
            </if>
        </where>
        order by role desc
    </select>
    <select id="getMyPassword" resultType="UserLogin">
        select userid,username,password,role
        from userlogin
        where userid = #{userid}
    </select>
    <delete id="removeUser">
        delete from userlogin
        where userid in
        <foreach collection="array" separator="," open="(" close=")" item="studentid">
            #{studentid}
        </foreach>
    </delete>
    <update id="updateUsername">
        update userlogin
        set username = #{username}
        where userid = #{userid}
    </update>
</mapper>